.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 3rem;
  margin-right: 2rem;
}

.single-product {
  width: 15vw;
}

.products-list {
  margin-top: 9rem;
  width: 70vw;
  margin-left: auto;
  margin-right: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  margin-bottom: 5rem;
}